body {
	background-color:#777;
	box-sizing: border-box;
	
	
}
#company {
	padding:10px;
	float:left;
	background-color:#4aaaa5;
	margin-left:160px;
}

#navbar {
	float:right;
	margin-right: 200px;
	margin-top: -50px;
	
}

#lip {
	margin-top:-5px;
	color:black;
}
#nav {
	padding :33px;
	background-color: #ffffff;
	font-color:#333;

}
a:link {
	text-decoration:none;
}
#about {
	padding:50px;
	background-color:#ffffff;
	margin-left:265px;
	margin-top:5px;
	float:left;
	width:500px;
	height:600px;
	margin-bottom:1400px;
}

#about2 {
	background-color: #ffffff;
	font-size: 25px;
	font-style:bold;
	color:#4aaaa5;
		
}
#tani {
	color:#ebebeb;
}
#shift {
	margin-top:15px;
}
#para {
	font-size:16px;
	margin-top:15px;
	margin-bottom: 100px;

}

}
#connect {
	padding:100px;
	float:right;
	background-color:#ffffff;
	margin-right:50px;
	margin-top:20px;
	position:static;
	
}
#connect2 {
	background-color: #ffffff;
	padding:30px;
	font-size:25px;
	margin-top:0px;
	margin-left:120px;
	color:#4aaaa5;
	position:center;

}
#foot {
	padding:20px;
	background: #999;
	margin-bottom:20px;
	float:center;

}

#foot2 {
	text-align: center;
}



/*footer {
	margin-right: -200px;
}*/
@media screen and (max-width: 960px) {
    body {
        background-color: #555;
    }
@media screen and (max-width: 768px) {
    body {
        background-color: #333;
    }
@media screen and (max-width: 640px) {
    body {
        background-color: #111;
    }
#email {

}
#phone {

}
#address {
	
}
